* {
  font-family: 'Quicksand', sans-serif ;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  margin: 10px;
  font-family: 'Quicksand', sans-serif ;

}

h1, h2, h3, h4 , p, button {
  font-family: 'Quicksand', sans-serif !important;
  color: #01223F

}
.ui.segment {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.ui.sidebar.menu {
  background: #22BB9C !important;
}

.ui.huge.header h1 {
  font-size: 3em;
  font-family: 'Quicksand', sans-serif ;

}
.ui.big.header h1  {
  padding-top: 80px;
  font-size: 2.5em;
  font-family: 'Quicksand', sans-serif ;
}
.ui.medium.header h1 {
  font-size: 3.0em;
  font-family: 'Quicksand', sans-serif ;
}

.ui.cards > .card {
  border-radius: 20px  !important;
  border: none;
  box-shadow: 2px 2px 8px 2px rgb(210 202 202 / 30%) !important;
}

.ui.card>.image, .ui.cards>.card>.image{
  height: 220px;
}

.ui.cards > .card > .image {
  height: 250px;
  border-radius: 20px  20px 0 0 !important;

  /* padding: 20px; */
  background: #fff;
  margin: auto;
  font-family: 'Quicksand', sans-serif ;

}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  border-radius: 20px  20px 0 0  !important ;
  width: auto;
  overflow: hidden;

}
.ui.cards > .card > .content > .header {
  overflow: hidden;
  padding-top: 20px;
  text-align: center;
}
.ui.cards > .card > .content > .description {
  height: 55px;
  margin-bottom: 0;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.icon {
  font-family: 'Quicksand', sans-serif ;
  font-size: inherit; 
  vertical-align: middle;
  display: inline-block;
}
.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.cards > .card > .image:not(:first-child) {
  border-radius: 20px;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

.ui.small.input {
width: 30%
}

.ui.items {
  border-radius: 20px !important;
}

.ui.items>.item>.image>img {
  border-radius: 20px !important;
}

.ui.items>.item .meta{
  line-height: 1.3rem !important;
  font-weight: 500 ;
  color: black !important;
}

.imageContainer {
  display:flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}